@model MvcCoreAzureCosmos.Models.Coche

@{
    ViewData["Title"] = "Details";
}

<h1>Details Coche: @Model.Marca, @Model.Modelo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen" style="height:100px; width:100px" />
        </dd>
        @if(Model.Motor != null){
            <dd class="col-sm-10">
                <p><b>Tipo:</b> @Model.Motor.Tipo</p>
                <p><b>Cilindrada:</b> @Model.Motor.Cilindrada</p>
                <p><b>Caballos:</b> @Model.Motor.Caballos</p>
            </dd>
        }        
    </dl>
</div>
<div>
    <a asp-controller="Coches"
       asp-action="MisCoches"
       class="btn btn-outline-dark">
        Back to List
    </a>
</div>
